@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">My MediT est une application légère et conviviale dont le but principal est l'encodage d'un nouvel emploi.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Création d'un emploi</h2>
        <p>
            En quelques clicks, vous avez la possiblité d'encoder un emploi sans encore lui affecter des risques ni des examens à prévoir.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Recherche d'un travailleur</h2>
        <p>Un index des travailleurs vous permettra d'obtenir toutes les informations nécessaires sur la personne concernée par un emploi.</p>
    </div>
    <div class="col-md-3">
        <h2>Création d'un travailleur</h2>
        <p>Vous voulez affecter un emploi à un travailleur non encore répertorié ? Un formulaire d'encodage de travailleur est également à votre disposition.</p>
    </div>
    <div class="col-md-3">
        <h2>Liste des emplois</h2>
        <p>Enfin, vous pouvez accéder à la liste des emplois pour vérifier que celui que vous venez de créer y a bien été ajouté.</p>
    </div>
</div>